* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(210, 36%, 96%);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, h1, h2, h3 {
    margin: 0;
    padding: 0;
    user-select: none;
}

li {
    list-style: none;
    list-style-position: inside;
}

/* Hamburger Toggle Button */
.sidebar-toggle {
    position: fixed;
    top: 2rem;
    left: 3rem;
    background: transparent;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
    cursor: pointer;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
}


.sidebar-toggle:hover {
    filter: opacity(0.5);
    transform: scale(1.1);
}

/* Sidebar Nav */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: hsla(208, 15%, 31%, 0.077);
    user-select: none;
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: hsl(205, 78%, 60%);
    transition: all 0.3s linear;
    cursor: pointer;
    color: hsl(360, 67%, 44%);
    font-weight: bold;
}

.close-btn:hover {
    color: hsl(360, 71%, 66%);
    transform: rotate(360deg);
}

.logo {
    justify-self: center;
    height: 40px;
    font-size: 2em;
}

.links span {
    display: block;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: hsl(210, 22%, 49%);
    transition: all 0.3s linear;
}

.links span:hover {
    background: hsl(205, 86%, 81%);
    color: hsl(205, 78%, 60%);
    padding-left: 1.75rem;
    cursor: pointer;
}

.links .chosen {
    background: hsla(205, 86%, 81%, .2);
    color: hsl(205, 78%, 60%);
    text-shadow: 1px 1px 2px #0a0a0a;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: hsl(360, 67%, 44%);
    transition: all 0.3s linear;
    transform: translate(-100%);
    border-right: 1px solid tan;
    z-index: 10;
}

.show-sidebar {
    transform: translate(0);
}

@media screen and (min-width: 676px) {
    .sidebar {
        width: 400px;
    }
}

#tabs-title {
    font-size: 2em;
    padding-left: 4em;
}

.hidden {
    display: none;
}

.content {
    margin: 2rem 0 0 0;
}

.service {
    margin-top: 26px;
}

/*Tabs*/
.tabs-wrapper {
    width: 100%;
    margin: 0 auto;
}

.tabs {
    position: relative;
    height: calc(100vh - 2rem - 38px - 26px);
}

.tabs::before,
.tabs::after {
    content: "";
    display: table;
}

.tabs::after {
    clear: both;
}

.tab {
    float: left;
}

.tab-switch {
    display: none;
}

.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    color: #1a8ebc;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}

.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
    background: #1a8ebc4b;
}

.tab-content {
    width: 100%;
    height: calc(100vh - 2.85em - 2rem - 38px - 26px);
    position: absolute;
    z-index: 1;
    top: 2.85em;
    left: 0;
    padding-top: 1rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;

    overflow-y: auto;
    scrollbar-color: #fdd11411 #3c373e;
    scrollbar-width: thin;

    display: none;
}

.tab-content::-webkit-scrollbar {
    width: 12px;
}

.tab-content::-webkit-scrollbar-track {
    background: #3c373e;
}

.tab-content::-webkit-scrollbar-thumb {
    background-color: #fdd11411;
    border-radius: 20px;
    border: 1px solid #fff;
}

.tab-switch:checked+label+.tab-content {
    z-index: 1;
    opacity: 1;
    transition: all 0.35s;
    border: 1px solid #d8d8d8;

    display: block;
}

.tab-switch:checked+.tab-label {
    background: #fff;
    color: #929292;
    border: 1px solid #d8d8d8;
    border-bottom: 0;
    transition: all 0.35s;
    z-index: 2;
    top: -0.0625rem;
}

.table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    overflow: hidden;
    user-select: none;
}

.table thead {
    position: sticky;
    top: 0;
    background: #3c373e38;
}

.table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #5f500a;
}

.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}

.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}

.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.table tbody tr:nth-child(odd) {
    background: rgba(0, 0, 0, .05);
}

.table tbody tr:nth-child(even) {
    background: rgba(0, 0, 0, .1);
}

.table tbody tr {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #aaa;
}

.table tbody tr:hover {
    background: #14dafd11;
    color: #144afd;
}

.table button:hover {
    cursor: pointer;
}

#modal-trigger {
    display: none;
}

#modal-trigger:checked~.modal__wrapper {
    display: none;
}

label[for="modal-trigger"] {
    position: absolute;
    top: -70px;
    right: 2%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000c0;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

label[for="modal-trigger"].modal__label_close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: 0;
    background: none;
    font-size: 3em;
    color: #fff;
}

label[for="modal-trigger"].modal__label_close:hover {
    background: #f00;
    color: #000;
}

form,
.form__selects,
.modal__wrapper {
    display: flex;
    align-items: center;
}

form {
    border-radius: 8px;
    padding: 10px;
    width: calc(100% - 80vw);
    justify-content: center;
    flex-direction: column;
    background: #323B5588;
}

form>* {
    margin: 2px;
    width: 100%;
}

.form__block_username label,
.form__block_user-ip label {
    width: calc(30% - 4px);
    display: inline-block;
    color: #ffffffab;
    font-size: 16px;
}

.form__block_username input,
.form__block_user-ip input {
    width: calc(100% - 25% - 15px);
    height: 30px;
    font-size: 14px;
    color: #444;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    padding-left: 10px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
    -webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
    box-shadow: inset 0px 2px 0px #d9d9d9;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.form__selects {
    justify-content: space-between;
}

.form__selects select {
    width: 49%;
    height: 30px;
    font-size: 14px;
}

form input[type="submit"] {
    height: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: #5466da;
    text-shadow: 0px -1px 0px #5b6ddc;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .49);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    background-color: #5466da;
    background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
    -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
    box-shadow: inset 0px 1px 0px #9ab1ec;
    cursor: pointer;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #5f73e9;
    background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
    -webkit-box-shadow: inset 0px 1px 0px #aab9f4;
    box-shadow: inset 0px 1px 0px #aab9f4;
    margin-top: 10px;
}

.btn {
    width: 195px;
    font-size: 14px;
    font-weight: 700;
    color: #f9f8f8;
    cursor: pointer;
    height: 25px;
    text-align: center;
    border: none;
    border-radius: 50px;
}

a.btn,
label.btn {
    display: block;
    padding-top: 2px;
}

.btn_red {
    background-image: linear-gradient(to bottom, rgb(211, 42, 4), rgb(255, 112, 80));
}

.btn_green {
    background-image: linear-gradient(to bottom, rgb(121, 211, 4), rgb(166, 253, 116));
}

.btn_blue {
    background-image: linear-gradient(to bottom, rgb(64, 78, 209), rgb(98, 165, 241));
}

.btn_shadow-red {
    box-shadow: 0 -1px 0 1px rgb(218, 95, 95), 0 -2px 0 1px rgb(218, 47, 47);
}

.btn_shadow-green {
    box-shadow: 0 -1px 0 1px rgb(161, 218, 95), 0 -2px 0 1px rgb(124, 218, 47);
}

.btn_shadow-blue {
    box-shadow: 0 -1px 0 1px rgb(95, 148, 218), 0 -2px 0 1px rgb(47, 121, 218);
}

.btn_red:hover {
    background-image: linear-gradient(to bottom, rgb(255, 112, 80), rgb(211, 42, 4));
}

.btn_green:hover {
    background-image: linear-gradient(to bottom, rgb(166, 253, 116), rgb(121, 211, 4));
}

.btn_blue:hover {
    background-image: linear-gradient(to bottom, rgb(98, 165, 241), rgb(28, 47, 209));
}

.btn:active {
    margin-top: 2px;
}

.btn:focus {
    outline: none;
}