<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/img/favicon-16x16.png">
    <link rel="manifest" href="./static/img/site.webmanifest">
    <title>JARVIS</title>
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div class="wrapper">
        <button class="sidebar-toggle">
            <img src="./static/img/menu.png" alt="menu" width="36px" height="36px" />
        </button>
        <aside class="sidebar">
            <div class="sidebar-header">
                <span class="logo">Services</span>
                <button class="close-btn">&times;</button>
            </div>
            <!-- links -->
            <ul class="links">
                <li><span data-toggle-id="main">Main</span></li>
                <li><span data-toggle-id="openvpn">OpenVPN</span></li>
                <!--
                    <li><a href="#">Redis</a></li>
                    <li><a href="#">Rabbit</a></li>
                    <li><a href="#">Kafka</a></li>
                -->
            </ul>
        </aside>
        <main class="content">
            <h2 id="tabs-title"></h2>
            <section class="hidden service" data-section-id="main"></section>
            <section class="hidden service" data-section-id="openvpn">
                <div class="tabs-wrapper">
                    <div class="tabs">
                        <div class="tab">
                            <input type="radio" name="css-tabs" value="tab-1" id="tab-1" checked class="tab-switch">
                            <label for="tab-1" class="tab-label">view</label>
                            <div class="tab-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Client Name</th>
                                            <th>Key</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users -%}
                                        <tr>
                                        <td>{{user.replace('.tar','')}}</td>
                                        <td><button onclick="onClickDownloadUserConfig(event)" value="{{user}}"
                                            class="btn btn_shadow-green btn_green">Download {{user.replace('.tar','')}}</button></td>
                                        <td><button onclick="onClickDellUser(event)" value="{{user}}"
                                            class="btn btn_shadow-red btn_red">Delete {{user.replace('.tar','')}}</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="css-tabs" value="tab-2" id="tab-2" class="tab-switch">
                            <label for="tab-2" class="tab-label">online</label>
                            <div class="tab-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Client</th>
                                            <th>Client address</th>
                                            <!-- <th>VPN address</th> -->
                                            <th>Received</th>
                                            <th>Sent</th>
                                            <th>Connect time</th>
                                            <th>Manage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k,v in data.items() %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{v["address"]}}</td>
                                            <td>{{v["received"]}}</td>
                                            <td>{{v["sent"]}}</td>
                                            <td>{{v.connected}}</td>
                                            <td><button onclick="onClickDellUser(event)" value="{{k}}"
                                                class="btn btn_shadow-red btn_red">Dell {{k}}</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <input type="checkbox" id="modal-trigger" checked="false">
                            <label for="modal-trigger" class="btn btn_blue btn_shadow-blue">Add User</label>
                            <div class="modal__wrapper">
                                <label for="modal-trigger" class="modal__label_close">&times;</label>
                                <form action="/new_user/" method="POST" class="new_user">
                                    <div class="form__block_username">
                                        <label for="username">Username:</label>
                                        <input type="text" id="username" name="username"
                                            placeholder="server.name | ip.addr" title="Enter username" required>
                                    </div>
                                    <div class="form__block_user-ip">
                                        <label for="user-ip">User ip:</label>
                                        <input type="text" id="user-ip" name="user-ip" placeholder="192.168.1.1"
                                            pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
                                            title="Enter IP-address" required>
                                    </div>
                                    <div class="form__selects">
                                        <select name="region">
                                            <option value="by">by</option>
                                            <option value="us">us</option>
                                            <option value="eu">eu</option>
                                            <option value="as">as</option>
                                            <option value="af">af</option>
                                            <option value="xz">xz</option>
                                        </select>
                                        <select name="user-type">
                                            <option value="client">client</option>
                                            <option value="server">server</option>
                                        </select>
                                    </div>
                                    <input type="submit" value="Add user">
                                </form>
                            </div>
                        </div>
                        <!--
                            <div class="tab">
                                <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                                <label for="tab-3" class="tab-label">Tab Three</label>
                                <div class="tab-content">When I left Mr. Bates, I went down to my father: where, by the
                                    assistance of him and my uncle John, and some other relations, I got forty pounds, and a
                                    promise of thirty pounds a year to maintain me at Leyden: there I studied physic two
                                    years and seven months, knowing it would be useful in long voyages.</div>
                            </div>
                        -->
                    </div>
                </div>
            </section>
            <!--
                <section class="hidden" data-section-id="redis">redis</section>
                <section class="hidden" data-section-id="rabbit">rabbit</section>
                <section class="hidden" data-section-id="kafka">kafka</section>
            -->
        </main>
    </div>
    <script>
                //download.js v4.2, by dandavis; 2008-2016. [CCBY2] see http://danml.com/download.html for tests/usage
        // v1 landed a FF+Chrome compat way of downloading strings to local un-named files, upgraded to use a hidden frame and optional mime
        // v2 added named files via a[download], msSaveBlob, IE (10+) support, and window.URL support for larger+faster saves than dataURLs
        // v3 added dataURL and Blob Input, bind-toggle arity, and legacy dataURL fallback was improved with force-download mime and base64 support. 3.1 improved safari handling.
        // v4 adds AMD/UMD, commonJS, and plain browser support
        // v4.1 adds url download capability via solo URL argument (same domain/CORS only)
        // v4.2 adds semantic variable names, long (over 2MB) dataURL support, and hidden by default temp anchors
        // https://github.com/rndme/download

        (function (root, factory) {
            if (typeof define === 'function' && define.amd) {
                // AMD. Register as an anonymous module.
                define([], factory);
            } else if (typeof exports === 'object') {
                // Node. Does not work with strict CommonJS, but
                // only CommonJS-like environments that support module.exports,
                // like Node.
                module.exports = factory();
            } else {
                // Browser globals (root is window)
                root.download = factory();
        }
        }(this, function () {

            return function download(data, strFileName, strMimeType) {

                var self = window, // this script is only for browsers anyway...
                    defaultMime = "application/octet-stream", // this default mime also triggers iframe downloads
                    mimeType = strMimeType || defaultMime,
                    payload = data,
                    url = !strFileName && !strMimeType && payload,
                    anchor = document.createElement("a"),
                    toString = function(a){return String(a);},
                    myBlob = (self.Blob || self.MozBlob || self.WebKitBlob || toString),
                    fileName = strFileName || "download",
                    blob,
                    reader;
                    myBlob= myBlob.call ? myBlob.bind(self) : Blob ;
            
                if(String(this)==="true"){ //reverse arguments, allowing download.bind(true, "text/xml", "export.xml") to act as a callback
                    payload=[payload, mimeType];
                    mimeType=payload[0];
                    payload=payload[1];
                }


                if(url && url.length< 2048){ // if no filename and no mime, assume a url was passed as the only argument
                    fileName = url.split("/").pop().split("?")[0];
                    anchor.href = url; // assign href prop to temp anchor
                    if(anchor.href.indexOf(url) !== -1){ // if the browser determines that it's a potentially valid url path:
                        var ajax=new XMLHttpRequest();
                        ajax.open( "GET", url, true);
                        ajax.responseType = 'blob';
                        ajax.onload= function(e){ 
                        download(e.target.response, fileName, defaultMime);
                        };
                        setTimeout(function(){ ajax.send();}, 0); // allows setting custom ajax headers using the return:
                        return ajax;
                    } // end if valid url?
                } // end if url?


                //go ahead and download dataURLs right away
                if(/^data\:[\w+\-]+\/[\w+\-]+[,;]/.test(payload)){
                
                    if(payload.length > (1024*1024*1.999) && myBlob !== toString ){
                        payload=dataUrlToBlob(payload);
                        mimeType=payload.type || defaultMime;
                    }else{			
                        return navigator.msSaveBlob ?  // IE10 can't do a[download], only Blobs:
                            navigator.msSaveBlob(dataUrlToBlob(payload), fileName) :
                            saver(payload) ; // everyone else can save dataURLs un-processed
                    }
                    
                }//end if dataURL passed?

                blob = payload instanceof myBlob ?
                    payload :
                    new myBlob([payload], {type: mimeType}) ;


                function dataUrlToBlob(strUrl) {
                    var parts= strUrl.split(/[:;,]/),
                    type= parts[1],
                    decoder= parts[2] == "base64" ? atob : decodeURIComponent,
                    binData= decoder( parts.pop() ),
                    mx= binData.length,
                    i= 0,
                    uiArr= new Uint8Array(mx);

                    for(i;i<mx;++i) uiArr[i]= binData.charCodeAt(i);

                    return new myBlob([uiArr], {type: type});
                }

                function saver(url, winMode){

                    if ('download' in anchor) { //html5 A[download]
                        anchor.href = url;
                        anchor.setAttribute("download", fileName);
                        anchor.className = "download-js-link";
                        anchor.innerHTML = "downloading...";
                        anchor.style.display = "none";
                        document.body.appendChild(anchor);
                        setTimeout(function() {
                            anchor.click();
                            document.body.removeChild(anchor);
                            if(winMode===true){setTimeout(function(){ self.URL.revokeObjectURL(anchor.href);}, 250 );}
                        }, 66);
                        return true;
                    }

                    // handle non-a[download] safari as best we can:
                    if(/(Version)\/(\d+)\.(\d+)(?:\.(\d+))?.*Safari\//.test(navigator.userAgent)) {
                        url=url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
                        if(!window.open(url)){ // popup blocked, offer direct download:
                            if(confirm("Displaying New Document\n\nUse Save As... to download, then click back to return to this page.")){ location.href=url; }
                        }
                        return true;
                    }

                    //do iframe dataURL download (old ch+FF):
                    var f = document.createElement("iframe");
                    document.body.appendChild(f);

                    if(!winMode){ // force a mime that will download:
                        url="data:"+url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
                    }
                    f.src=url;
                    setTimeout(function(){ document.body.removeChild(f); }, 333);

                }//end saver




                if (navigator.msSaveBlob) { // IE10+ : (has Blob, but not a[download] or URL)
                    return navigator.msSaveBlob(blob, fileName);
                }

                if(self.URL){ // simple fast and modern way using Blob and URL:
                    saver(self.URL.createObjectURL(blob), true);
                }else{
                    // handle non-Blob()+non-URL browsers:
                    if(typeof blob === "string" || blob.constructor===toString ){
                        try{
                            return saver( "data:" +  mimeType   + ";base64,"  +  self.btoa(blob)  );
                        }catch(y){
                            return saver( "data:" +  mimeType   + "," + encodeURIComponent(blob)  );
                        }
                    }

                    // Blob but not URL support:
                    reader=new FileReader();
                    reader.onload=function(e){
                        saver(this.result);
                    };
                    reader.readAsDataURL(blob);
                }
                return true;
            }; /* end download() */
        }));


        //don't touch this block
        {
            const toggleBtn = document.querySelector('.sidebar-toggle');
            const closeBtn = document.querySelector('.close-btn');
            const sidebar = document.querySelector('.sidebar');
            const linksParent = document.querySelector('.links');
            const tabsTitle = document.getElementById('tabs-title');
            const servicesSections = document.querySelectorAll('.service');

            toggleBtn.addEventListener('click', function () {
                sidebar.classList.toggle('show-sidebar');
            });
            closeBtn.addEventListener('click', function () {
                sidebar.classList.remove('show-sidebar');
            });
            linksParent.addEventListener('click', function (e) {
                let element = e.target.closest('span');
                if (!element) {
                    console.error('element "span" is undefined');
                    return;
                }
                if (!this.children.length) {
                    console.error('children of parent`s element are undefined');
                    return;
                }
                [...this.children].forEach((child) => child.firstElementChild.classList.remove("chosen"))
                element.classList.toggle("chosen");

                const id = element.dataset.toggleId;
                if (!id) {
                    console.error(`id for link "${element.innerText}" is undefined`);
                    return;
                }
                tabsTitle.innerText = element.innerText;

                if (!servicesSections.length) {
                    console.error('sections with services are not defined')
                    return;
                }
                servicesSections.forEach((section, index, list) => section.dataset.sectionId === id ?
                    section.classList.remove('hidden') : section.classList.add('hidden')
                );

                closeBtn.click();
            });
        }
        async function postData(url = '', data = {}, method = 'GET') {
            const content = {
                method: method, // *GET, POST, PUT, DELETE, etc.
                mode: 'no-cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                'Content-Type': 'application/json'
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *client
            };
            if (Object.keys(data).length !== 0 ) {
                content.body = JSON.stringify(data); // body data type must match "Content-Type" header
            }

            // Default options are marked with *
            const response = await fetch(url, content);
            return await response; // parses JSON response into native JavaScript objects
        }

        async function deleteData(url = '', method = 'DELETE') {
            const options = {
                method: method, // *GET, POST, PUT, DELETE, etc.
            };
            const response = await fetch(url, options);
            return await response;
        }


    // function timedRefresh(timeoutPeriod) {
    //   setTimeout("location.reload(true);", timeoutPeriod);
    // }
    // window.onload = timedRefresh(30000);

    function onClickDellUser(event) {
      console.log(`https://us-genvpn.spnode.net/user/${event.target.value}`);
      deleteData(`https://us-genvpn.spnode.net/user/${event.target.value}`)
        .then((data) => {
          console.log(data); // JSON data parsed by `response.json()` call
        }).catch((e) => {
          console.log('Function onClick error:', e);
        });
    }

    function onClickDownloadUserConfig(event) {
      console.log(`https://us-genvpn.spnode.net/user/${event.target.value}`);
      postData(`https://us-genvpn.spnode.net/user/${event.target.value}`, {}, 'POST')
        .then((data) => {
            return data.blob(); // JSON data parsed by `response.json()` call
        }).then((data) => {
            download(data, `${event.target.value}.tar`);
        }).catch((e) => {
          console.log('Function onClick error:', e);
        });
    }

    </script>
</body>

</html>
